---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';
import Content from '~/components/widgets/Content.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <Hero
    tagline="About us"
    image={{
      src: '~/assets/images/about.jpg',
      alt: 'ReputeBee About Us Image',
    }}
  >
    <Fragment slot="title">
      The Journey of ReputeBee:  <br />
      <span class="text-accent dark:text-white highlight"> From a Tech-Savvy Couple to a Leader in Product Marketing</span>
    </Fragment>
    <Fragment slot="subtitle">
      Once upon a time, there was a tech-savvy couplewith a business background, and they had been exploring the idea of starting a software-as-a-service (SaaS) business for many years. They were passionate about open-source projects and had contributed to the community for years, but they knew that starting their own business would require a different set of skills. 
      <br />
    </Fragment>
    <Fragment slot="subtitle">
      <br class="hidden md:inline" /> 
      They started small, experimenting with different ideas to learn how the SaaS business model worked. They built a few products, learned how usability worked, and experimented with different marketing strategies. It took them 15 years of trial and error to hone their skills, but they finally settled on an idea that they believed had real potential: a platform called ReputeBee that would help customers collect testimonials to improve their product marketing.
    </Fragment>
  </Hero>
  <Content>
    <Fragment slot="subtitle">
      <br class="hidden md:inline" /> 
      Their mission statement was simple: to save time and provide new ideas to help their customers excel in their marketing efforts. They knew that many companies struggled with collecting user feedback and using it to enhance their messaging, and they saw an opportunity to make a difference.
    </Fragment>
    <Fragment slot="subtitle">
      <br class="hidden md:inline" /> 
      However, starting a SaaS business was not easy. We had to learn how to build a product from scratch, how to market it effectively, and how to manage a team. They made plenty of mistakes along the way, but they never lost sight of their vision.
    </Fragment>
    <Fragment slot="subtitle">
      <br class="hidden md:inline" /> 
      Their dedication paid off. Over time, ReputeBee evolved and adapted to the needs of the industry, becoming a leader in the field of product marketing. Their platform helped numerous clients achieve significant success in their marketing efforts.
    </Fragment>
  </Content>

  <!-- Stats Widget ****************** -->

  <!-- <Stats
    title="Statistics about us"
    stats={[
      { title: 'Offices', amount: '4' },
      { title: 'Employees', amount: '248' },
      { title: 'Templates', amount: '12' },
      { title: 'Awards', amount: '24' },
    ]}
  /> -->


  <!-- Steps2 Widget ****************** -->

  <!-- <Steps2
    title="Our values"
    subtitle="Maecenas eu tellus eget est scelerisque lacinia et a diam. Aliquam velit lorem, vehicula id fermentum et, rhoncus et purus. Nulla facilisi. Vestibulum malesuada lacus."
    items={[
      {
        title: 'Customer-centric approach',
        description:
          'Donec id nibh neque. Quisque et fermentum tortor. Fusce vitae dolor a mauris dignissim commodo. Ut eleifend luctus condimentum.',
      },
      {
        title: 'Constant Improvement',
        description:
          'Phasellus laoreet fermentum venenatis. Vivamus dapibus pulvinar arcu eget mattis. Fusce eget mauris leo.',
      },
      {
        title: 'Ethical Practices',
        description:
          'Vestibulum imperdiet libero et lectus molestie, et maximus augue porta. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.',
      },
    ]}
  /> -->

  <!-- Steps2 Widget ****************** -->

  <!-- <Steps2
    title="Achievements"
    subtitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla, sed porttitor est nibh at nulla."
    isReversed={true}
    callToAction={{
      text: 'See more',
      href: '/',
    }}
    items={[
      {
        title: 'Global reach',
        description: 'Nam malesuada urna in enim imperdiet tincidunt. Phasellus non tincidunt nisi, at elementum mi.',
        icon: 'tabler:globe',
      },
      {
        title: 'Positive customer feedback and reviews',
        description:
          'Cras semper nulla leo, eget laoreet erat cursus sed. Praesent faucibus massa in purus iaculis dictum.',
        icon: 'tabler:message-star',
      },
      {
        title: 'Awards and recognition as industry experts',
        description:
          'Phasellus lacinia cursus velit, eu malesuada magna pretium eu. Etiam aliquet tellus purus, blandit lobortis ex rhoncus vitae.',
        icon: 'tabler:award',
      },
    ]}
  /> -->

  <!-- Features2 Widget ************** -->
<!-- 
  <Features2
    title="Technical Support"
    tagline="Contact us"
    columns={2}
    items={[
      {
        title: 'Chat with us',
        description:
          'Integer luctus laoreet libero, auctor varius purus rutrum sit amet. Ut nec molestie nisi, quis eleifend mi.',
        icon: 'tabler:messages',
      },
      {
        title: 'Call us',
        description:
          'Mauris faucibus finibus orci, in posuere elit viverra non. In hac habitasse platea dictumst. Cras lobortis metus a hendrerit congue.',
        icon: 'tabler:headset',
      },
    ]}
  /> -->
</Layout>
