---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Logos from '~/components/widgets/Logos.astro';
import FlowbiteFeatures from '~/components/widgets/FlowbiteFeatures.astro';
import { headerData } from '~/navigation';
import Header from '~/components/widgets/Header.astro';
import { Icon } from "astro-icon/components";

const metadata = {
  title: 'ReputeBee - Convert Prospects into Paying Customers with Testimonials', //Make Customers your best Salespeople. Skyrocket🚀 Sales with Trusted Testimonials
  description: 'ReputeBee helps you collect, organize, and display testimonials with ease. Build trust and loyalty with relevant and personalized social proof.',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <Fragment slot="header">
    <Header
      {...headerData}
      actions={[
        {
          type: 'ghost',
          text: 'Login',
          href: 'https://app.reputebee.com/accounts/login/?next=/',
        },
        {
          type: 'primarybase',
          text: 'Sign Up',
          href: 'https://app.reputebee.com/accounts/signup/?next=/',
        },
      ]}
      isSticky
    />
  </Fragment>

  <Hero
    callToAction={{ text: 'Get your Wall Of Love Page', href: 'https://app.reputebee.com/accounts/signup/?next=/', icon: 'tabler:arrow-right' }}

    image={{ src: '~/assets/images/hero_reputebee_landsape.svg', alt: 'ReputeBee Hero Image' , objectFit: 'fill'}}
  
    image_vert={{ src: '~/assets/images/hero_reputebee_portrait.svg', alt: 'ReputeBee Hero Image' , objectFit: 'fill'}}

    labels
    >
    <Fragment slot="title">
      <span class="hidden xl:inline"></span>Convert Prospects into Paying Customers with  
      <span class="text-primarybase dark:text-white highlight"> Testimonials</span>
    </Fragment>

    <Fragment slot="subtitle">
      Transform happy customers into your most influential advocates. Collect, curate, and showcase testimonials seamlessly with ReputeBee.
      <span class="hidden sm:inline"> 
        <span class="font-semibold"></span></span
      >
    
      <br/>
      <script src="https://widgets.reputebee.com/static/assets/js/repute_window.min.js"></script> <iframe loading="lazy" data-src="" scrolling="no" frameborder="0" width="100%" height="0px" id="reputebee-M8uT1KhXE5" style="background-color: transparent !important; background-image: none !important; color-scheme: normal; overflow: clip; width: 1px; min-width: 100%; height: 0px;" title="ReputeBee Testimonial Widget" src="https://widgets.reputebee.com/static/v1/widgets/cta-hero-bar/index.html?wid=2&id=M8uT1KhXE5"> </iframe> <script> document.getElementById('reputebee-M8uT1KhXE5').onload = function() { iFrameResize({ log: true, }, '#reputebee-M8uT1KhXE5'); } </script> 
      </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <!-- <Note /> -->

  <Logos />





  <script src="https://widgets.reputebee.com/static/assets/js/repute_window.min.js"></script> <iframe loading="lazy" data-src="" scrolling="no" frameborder="0" width="100%" height="0px" id="reputebee-FN5UFDeWbh" style="background-color: transparent !important; background-image: none !important; color-scheme: normal; overflow: clip; width: 1px; min-width: 100%; height: 0px;" title="ReputeBee Testimonial Widget" src="https://widgets.reputebee.com/static/v1/widgets/four-cards/index.html?wid=2&id=FN5UFDeWbh"> </iframe> <script> document.getElementById('reputebee-FN5UFDeWbh').onload = function() { iFrameResize({ log: true, }, '#reputebee-FN5UFDeWbh'); } </script> 






  <!-- Content Widget **************** -->
<span class="bg-primary-25 bg-secondary-25 bg-white"></span>
<FlowbiteFeatures bgClass='bg-primary-25' heading='Collect More Testimonials with Less Work' 
      image={{ src: '~/assets/images/LessWork.svg', alt: 'Collect More Testimonials with Less Work' , objectFit: 'fill'}}
 >
      <div><p class="">Tired of losing valuable testimonials in the email abyss? </p> <p class="">Your testimonials often get buried in emails, forgotten in spreadsheets, and lost in the web design to-do list.</p></div>
     <br style="margin-bottom: 10px;">
    
     <div class="flex gap-2  items-start"> <div> <p class="font-medium"> Reputebee  automatically collects, organizes, and showcases your testimonials with minimal effort.</p>
     <p class="font-italic">Boost your social proof effortlessly. Set it up and let it run! </p></div></div>
</FlowbiteFeatures>

<FlowbiteFeatures heading='Add Your Reviews to Your Website Effortlessly' 
image={{ src: '~/assets/images/effortlessly.svg', alt: 'Add Your Reviews to Your Website Effortlessly' , objectFit: 'fill'}}
      image_alt='Add Your Reviews to Your Website Effortlessly'
      cta="Get started for free" badge='Get your first Testimonial Widget in minutes' 
      bgClass="bg-primary-10"
      isReversed >
     <p class="">Glowing reviews are great, but updating your website can be a real time sink.</p><br style="margin-bottom: 10px;">
      <p>With Reputebee, adding new reviews is a breeze. Embed the code once on your website, and you can <span class="font-medium"> effortlessly switch featured reviews in our app with a single tap.</span></p>
      <p>It's quick and hassle-free.</p>

</FlowbiteFeatures>

<FlowbiteFeatures heading='Capture and Spotlight Reviews Across Diverse Platforms' 
image={{ src: '~/assets/images/DiscoverDifferentPlatforms.svg', alt: 'Discover and Feature Reviews from Different Platforms' , objectFit: 'fill'}}
      image_alt='Discover and Feature Reviews from Different Platforms'
      bgClass="bg-secondary-25"
      cta="Get started for free" badge='Gather Your Testimonials in one Place'>
      <p class=""> Ever felt like your precious testimonials vanish into thin air? </p><br style="margin-bottom: 10px;">
      <p>  Keeping an eye on multiple platforms for fresh reviews and the hassle of integrating them on your site can be overwhelming.</p><br style="margin-bottom: 10px;"> 
      <p class="font-medium">Reputebee monitors and discovers new reviews from various sources. Approve and feature new reviews instantly.</p>
</FlowbiteFeatures>

<FlowbiteFeatures heading='Feature Testimonials That Speak to Each Ideal Customer Profile' 
image={{ src: '~/assets/images/IdealCustomersProfile.svg', alt: 'Showcase Testimonials from every Ideal Customers Profile' , objectFit: 'fill'}}

      image_alt='Showcase Testimonials for every Ideal Customers Profile'
      cta="Get started for free" badge='Tailor Your Sales Pitch with Reputebee' 
      bgClass="bg-secondary-10"
      isReversed>
      <p class="">Struggling to create content that resonates with  diverse customer segments?</p> <br style="margin-bottom: 10px;">
     
     <br style="margin-bottom: 10px;"> 
    <p>Imagine creating landing pages targeting each ideal customer, showcasing <span  class="font-medium">testimonials tailored to each ideal customer</span>. Nurture trust and loyalty through personalized social proof.</p>

</FlowbiteFeatures>

<FlowbiteFeatures heading="Don't Sacrifice Page Speed for Social Proof" 
image={{ src: '~/assets/images/speed.svg', alt: 'Don\'t Sacrifice Page Speed for social proof' , objectFit: 'fill'}}
      image_alt="Don't Sacrifice Page Speed for social proof" >
      <p >Embedding tweets and testimonials can harm your website's performance and looks.</p><br style="margin-bottom: 10px;">
<p class="font-medium"> Reputebee displays reviews from all sources on your landing page with lightning-fast load times and a sleek, consistent UI.</p> 

</FlowbiteFeatures>

<FlowbiteFeatures heading='Unleash Trust, Amplify Conversions, Reduce Churn' 
image={{ src: '~/assets/images/amplify.svg', alt: 'Unleash Trust, Amplify Conversions, Reduce Churn' , objectFit: 'fill'}}
      image_alt='Unleash Trust, Amplify Conversions, Reduce Churn'
      cta="Get started for free" badge='Ignite Growth with Social Proof' 
      bgClass="bg-primary-10"
      isReversed>
<p class="font-mediurm">Watch conversions soar as prospects, driven by powerful social proof, become enthusiastic customers.</p>
<div class="grid grid-cols-2 my-6 gap-4 md:gap-8">
<div class="py-2 flex flex-col items-center border rounded rounded-lg border-primary-50 bg-primary-25">
  <Icon
  name='flat-color-icons:sales-performance'
  class="mb-2 w-10 h-10"/>
  <p class="text-xs font-medium text-center">Boost Sales</p>
  </div>

  <div class="py-2 flex flex-col items-center border rounded rounded-lg border-primary-50 bg-primary-25">
    <Icon
    name='flat-color-icons:approval'
    class="mb-2 w-10 h-10"/>
    <p class="text-xs font-medium text-center">Cultivate Unwavering Loyalty</p>
    </div>

    <div class="py-2 flex flex-col items-center border rounded rounded-lg border-primary-50 bg-primary-25">
      <Icon
      name='flat-color-icons:refresh'
      class="mb-2 w-10 h-10"/>
      <p class="text-xs font-medium text-center">Reduce Churn, Increase Renewals</p>
      </div>

      <div class="py-2 flex flex-col items-center border rounded rounded-lg border-primary-50 bg-primary-25">
        <Icon
        name='flat-color-icons:collaboration'
        class="mb-2 w-10 h-10"/>
        <p class="text-xs font-medium text-center">Supercharge Customer Engagement</p>
        </div>
      

  </div>
</FlowbiteFeatures> <!-- -->


<Steps

title="Testimonials Boost your Customer Advocacy"
items={[
  {
    title: 'Step 1: <span class="font-medium">Collect Social Proof from your Customers</span>',
    description:
      "Get testimonials from customers at the right moments in their journey through Reputebee.",
    icon: 'tabler:playlist-add',
  },
  {
    title: 'Step 2: <span class="font-medium">Celebrate their Achievements</em>',
    description:
      "Share on social media. Make their day.",
    icon: 'tabler:confetti',
  },
  {
    title: 'Step 3: <span class="font-medium">Make your customers a part of your Story</span>',
    description:
      'Make your customers feel valued and appreciated.',
    icon: 'tabler:home-infinity',
  },
  {
    title: 'Happy Customers!',
    icon: 'tabler:mood-happy',
  },
]}
image={{
  src: '~/assets/images/customer_advocacy.svg',
  alt: 'Steps image',
}}
/>


  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Features"
    title="What’s in it for you with ReputeBee? "
    subtitle="Discover the power of effortless social proof! that helps you collect, organize, and display testimonials with ease. Some of the key features as below."
    items={[
      {
        title: 'Effortless Testimonial Collection',
        description:
          'ReputeBee automatically collects and organizes testimonials, saving you time and effort.',
        icon: 'tabler:users-group',
      },
      {
        title: 'Easy Website Integration',
        description:
          'ReputeBee allows you to easily add new reviews to your website with just a few clicks.',
        icon: 'tabler:plug-connected',
      },
      {
        title: 'Multi-Platform Review Monitoring',
        description:
          'ReputeBee monitors and discovers new reviews from various sources, ensuring that you never miss a valuable testimonial.',
        icon: 'tabler:24-hours',
      },
      {
        title: 'Personalized Social Proof',
        description:
          'ReputeBee helps you collect and display testimonials from every ideal customer profile, allowing you to build trust and loyalty with relevant and personalized social proof.',
        icon: 'tabler:id',
      },
    ]}
  />
 

  <!-- Content Widget **************** -->



  <!-- Content Widget **************** -->

 
  <!-- Steps Widget ****************** -->


  <!-- Features2 Widget ************** -->

 

  <!-- HighlightedPosts Widget ******* -->


  <!-- CallToAction Widget *********** -->

  <CallToAction
    callToAction={{
      text: 'Ignite Sales with Social Proof',
      href: 'https://app.reputebee.com/accounts/signup/?next=/',
      icon: 'tabler:rocket',
    }}
  >
    <Fragment slot="title">
     <span class=" tracking-normal ">Leverage Testimonials to Resonate & Convert    </span>
    </Fragment>

    <Fragment slot="subtitle">
<br class="hidden md:inline" /> Begin your prospecting journey on the right foot. 
    </Fragment>
  </CallToAction>
</Layout>
