---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Logos from '~/components/widgets/Logos.astro';
import FlowbiteFeatures from '~/components/widgets/FlowbiteFeatures.astro';
import { headerData } from '~/navigation';
import Header from '~/components/widgets/Header.astro';

const metadata = {
  title: 'ReputeBee - Make Customers your best Salespeople. Skyrocket🚀 Sales with Trusted Testimonials',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <Fragment slot="header">
    <Header
      {...headerData}
      actions={[
        {
          type: 'ghost',
          text: 'Login',
          href: 'https://app.reputebee.com/accounts/login/?next=/',
        },
        {
          type: 'primarybase',
          text: 'Sign Up',
          href: 'https://app.reputebee.com/accounts/signup/?next=/',
        },
      ]}
      isSticky
    />
  </Fragment>

  <Hero
    callToAction={{ text: 'Get your Wall Of Love Page', href: 'https://app.reputebee.com/accounts/signup/?next=/', icon: 'tabler:arrow-right' }}

    image={{ src: '~/assets/images/hero_reputebee_v4.svg', alt: 'ReputeBee Hero Image' , objectFit: 'fill'}}
  >
    <Fragment slot="title">
      <span class="hidden xl:inline"></span>Convert Prospects into Paying Customers with  
      <span class="text-primarybase dark:text-white highlight"> Testimonials</span>
    </Fragment>

    <Fragment slot="subtitle">
      Transform happy customers into your most influential advocates. Collect, curate, and showcase testimonials seamlessly with ReputeBee.
      <span class="hidden sm:inline"> 
        <span class="font-semibold"></span></span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600"></span> 
      <br/>
      </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <Logos />



  <!-- Content Widget **************** -->

<FlowbiteFeatures heading='Collect More Testimonials with Less Work' 
      image='https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      image_alt='Collect More Testimonials with Less Work'>
      Do you collect testimonials through email and save them in Excel sheets for future use? <br style="margin-bottom: 10px;">
      Your testimonials die a hundred deaths, buried in email, forgotten in spreadsheets and overlooked in the web design task list. <br style="margin-bottom: 10px;">
      Reputebee automatically collects, organizes and displays testimonials with little work.   Now you can get more social proof with almost no effort./Set it and forget!
</FlowbiteFeatures>

<FlowbiteFeatures heading='Add Your Reviews to Your Website Effortlessly' 
      image='https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      image_alt='Add Your Reviews to Your Website Effortlessly'
      cta='Get your first Testimonial Widget in minutes!' 
      isReversed>
      Whenever you get a glowing review, you want to showcase it on your website. <br style="margin-bottom: 10px;">
      But editing your website can be such a time-sink everytime! Not to mention all the other activities you need to put on hold!<br style="margin-bottom: 10px;">
      Reputebee lets you add new reviews from Reputebee app effortlessly. Embed code once in your website and you can switch the reviews featured on your website whenever you like with a single tap in our app. It’s that fast and simple.
</FlowbiteFeatures>

<FlowbiteFeatures heading='Discover and Feature Reviews from Different Platforms' 
      image='https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      image_alt='Discover and Feature Reviews from Different Platforms'
      cta='Gather Your Testimonials Together!'>
      You want to leverage every valuable testimonial but they get lost through the cracks!<br style="margin-bottom: 10px;">
      Monitoring different platforms for new reviews and the struggles to embed them in your site is a real drain. <br style="margin-bottom: 10px;"> 
      Reputebee monitors and discovers new reviews from various sources with an approval process. Get new reviews featured at the click of a button.
</FlowbiteFeatures>

<FlowbiteFeatures heading='Showcase Testimonials from every Ideal Customers Profile' 
      image='https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      image_alt='Showcase Testimonials from every Ideal Customers Profile'
      cta='Tailor Your Pitch with Reputebee!' 
      isReversed>
      You want to show your Customers how your product solves their specific problems. <br style="margin-bottom: 10px;">
      But making a landing page that resonates with different customer segments is a challenge. <br style="margin-bottom: 10px;"> 
      Reputebee helps you collect and display testimonials from every ideal customer profile on your website. This helps you build trust and loyalty with relevant and personalized social proof.

</FlowbiteFeatures>

<FlowbiteFeatures heading="Don't Sacrifice Page Speed for social proof" 
      image='https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      image_alt="Don't Sacrifice Page Speed for social proof" >
      You want to showcase testimonials from different sources, to highlight your customers trust.<br style="margin-bottom: 10px;">
      But  tweet embeds and other testimonial embeds ruin your website’s performance and appearance. <br style="margin-bottom: 10px;"> 
      With Reputebee, you can feature reviews from all sources on your landing page with super-fast page load time and uniform, stunning UI.

</FlowbiteFeatures>

<FlowbiteFeatures heading='Unleash Trust, Amplify Conversions, Reduce Churn' 
      image='https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      image_alt='Unleash Trust, Amplify Conversions, Reduce Churn'
      cta='Lets Ignite Growth with Social Proof!' 
      isReversed>
      Reputebee helps in inspiring potential clients through authentic praise captured for specific usecases and customer segments. </br>
      Witness conversions surge as prospects, influenced by powerful social proof, become eager customers. Elevate sales, diminish churn, and foster unwavering credibility and loyalty.
</FlowbiteFeatures>


<Steps
title="Testimonials Boost your Customer Advocacy"
items={[
  {
    title: 'Step 1: <span class="font-medium">Collect Social Proof from your Customers</span>',
    description:
      "Get testimonials from customers at the right moments in their journey through Reputebee.",
    icon: 'tabler:package',
  },
  {
    title: 'Step 2: <span class="font-medium">Celebrate their Achievements</em>',
    description:
      "Share on social media. Make their day.",
    icon: 'tabler:letter-case',
  },
  {
    title: 'Step 3: <span class="font-medium">Make your customers a part of your Story</span>',
    description:
      'Make your customers feel valued and appreciated.',
    icon: 'tabler:paint',
  },
  {
    title: 'Happy Customers!',
    icon: 'tabler:check',
  },
]}
image={{
  src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
  alt: 'Steps image',
}}
/>


  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Features"
    title="What you get with AstroWind"
    subtitle="One of the most professional and comprehensive templates currently on the market. Most starred & forked Astro theme in 2022."
    items={[
      {
        title: 'Astro + Tailwind CSS Integration',
        description:
          'A seamless integration between two great frameworks that offer high productivity, performance and versatility.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Ready-to-use Components',
        description:
          'Widgets made with Tailwind CSS ready to be used in Marketing Websites, SaaS, Blogs, Personal Profiles, Small Business...',
        icon: 'tabler:components',
      },
      {
        title: 'Best Practices',
        description:
          'Creating secure, efficient, and user-friendly websites that deliver exceptional experiences and lasting value.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Excellent Page Speed',
        description:
          'Having a good page speed impacts organic search ranking, improves user experience (UI/UX) and increase conversion rates.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Search Engine Optimization (SEO)',
        description:
          "SEO lies in its ability to enhance a website's visibility, driving organic traffic and enabling it to reach a wider audience.",
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Open to new ideas and contributions',
        description:
          'Embracing a culture that is open to new ideas and contributions is integral fostering innovation, collaboration, and a dynamic user experience.',
        icon: 'tabler:bulb',
      },
    ]}
  />
 

  <!-- Content Widget **************** -->



  <!-- Content Widget **************** -->

 
  <!-- Steps Widget ****************** -->


  <!-- Features2 Widget ************** -->

  <Features2
    title="Most used widgets"
    subtitle="Provides frequently used components for building websites using Tailwind CSS"
    tagline="Components"
    items={[
      {
        title: 'Headers',
        description: "Ever tried driving without GPS? Boom! That's why websites need headers for direction.",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Heros',
        description:
          "Picture a superhero landing – epic, right? That's the job of a Hero section, making grand entrances!",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Features',
        description:
          'Where websites strut their stuff and show off superpowers. No holding back on the bragging rights here!',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Content',
        description:
          "Dive into the meat and potatoes of a site; without it, you'd just be window shopping. Content is king.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Call-to-Action',
        description:
          'That enthusiastic friend who\'s always urging, "Do it! Do it!"? Yeah, that\'s this button nudging you towards adventure.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Pricing',
        description: 'Behold the dessert menu of the website world. Tempting choices await, can you resist?',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Testimonial',
        description: 'Step into the gossip corner! Here, other visitors spill the beans and share the juicy details.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Contact',
        description:
          'Like a digital mailbox, but faster! Drop a line, ask a question, or send a virtual high-five. Ding! Message in.',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Footers',
        description: "The footer's like the credits of a movie but sprinkled with easter eggs. Time to hunt!",
        icon: 'flat-color-icons:database',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- HighlightedPosts Widget ******* -->


  <!-- CallToAction Widget *********** -->

  <CallToAction
    callToAction={{
      text: 'Ignite Sales with Social Proof',
      href: 'https://app.reputebee.com/accounts/signup/?next=/',
      icon: 'tabler:rocket',
    }}
  >
    <Fragment slot="title">
      You&nbsp;+&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">ReputeBee</span>
    </Fragment>

    <Fragment slot="subtitle">
<br class="hidden md:inline" /> Begin your prospecting journey on the right foot. Use ReputeBee to leverage testimonials that resonate and convert.
    </Fragment>
  </CallToAction>
</Layout>
