---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Prices from '~/components/widgets/Pricing.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Steps from '~/components/widgets/Steps.astro';
import Features3 from '~/components/widgets/Features3.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Pricing',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText
    tagline="Pricing"
    title="Choose the Right Plan for Your Testimonials Needs "
    subtitle="Boost your business with our testimonial management app! Get flexible pricing plans, an easy-to-use interface, and excellent customer support. Join now and start showcasing customer success stories to build trust and increase sales conversions. Buy the perfect plan for your business and transform your testimonials strategy today! 😊"
  />

  <!-- Pricing Widget ******************* -->

  <Prices
    title="Our prices"
    subtitle="Only pay for what you need"
    prices={[
      {
        title: 'Essentials',
        subtitle: 'For individuals/hobbies who want to collect and display testimonials on their website or social media.',
        price: '0',
        period: 'per month',
        items: [
          {
            description: '500 Unique Visitors',
          },
          {
            description: '50 Published Testimonials',
          },
          {
            description: '1 Wall of Love',
          },
          {
            description: '2 Widgets',
          }
        ],
        callToAction: {
          targetBlank: true,
          text: 'Get started',
          href: 'https://app.reputebee.com/signup?plan=free',
        },
      },
      {
        title: 'Growth',
        subtitle: 'For growing businesses who want to leverage testimonials to boost their credibility and conversions. ',
        price: 29,
        period: 'Per Month',
        items: [
        {
            description: '2000 Unique Visitors',
          },
          {
            description: '100 Published Testimonials',
          },
          {
            description: 'Tag Reviews',
          },
          {
            description: 'Testimonial Autosync',
          },
          {
            description: '5 Published Widgets',
          },
          {
            description: 'Email & Chat Support',
          },
          {
            description: 'Dedicated Onboarding',
          }
        ],
        callToAction: {
          targetBlank: true,
          text: 'Get started',
          href: 'https://app.reputebee.com/signup?plan=growth',
        },
        hasRibbon: true,
        ribbonTitle: 'popular',
      },
      {
        title: 'Advanced',
        subtitle: 'For established businesses who want to optimize their testimonials strategy and performance.',
        price: 89,
        period: 'Per Month',
        items: [
        {
            description: '10000 Unique Visitors',
          },
          {
            description: '500 Published Testimonials',
          },
          {
            description: 'Testimonial Autosync',
          },
          {
            description: '15 Published Widgets',
          },
          {
            description: 'Rich snippets for SEO',
          },
          {
            description: 'Tag Reviews',
          },
          {
            description: 'High Priority Phone Support',
          },
          {
            description: 'Dedicated Onboarding',
          }
        ],
        callToAction: {
          targetBlank: true,
          text: 'Get started',
          href: 'https://app.reputebee.com/signup?plan=advanced',
        },
      },
    ]}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    title="Price-related features"
    subtitle="Discover the advantages of choosing our plans"
    columns={2}
    items={[
      {
        title: 'Tiered Pricing Plans',
        description: 'Choose from a range of pricing plans designed to accommodate different budgets and requirements.',
        icon: 'tabler:stairs',
      },
      {
        title: 'Transparent Pricing',
        description: 'Clearly displayed pricing details for each plan, with no hidden costs or unexpected charges.',
        icon: 'tabler:flip-vertical',
      },
      {
        title: 'Secure Payment Methods',
        description: 'Secure payment gateways to protect your financial information during transactions.',
        icon: 'tabler:shield-lock',
      },
      {
        title: 'Instant Access',
        description: `Immediate access to your chosen plan's features and templates upon subscription.`,
        icon: 'tabler:accessible',
      },
      {
        title: 'Upgrade Value',
        description: 'Upgrade to higher-tier plans to unlock more features and benefits for an enhanced experience.',
        icon: 'tabler:chevrons-up',
      },
      {
        title: '24H support',
        description: 'Questions answered via live chat, email or phone, every calendar day.',
        icon: 'tabler:headset',
      },
    ]}
    classes={{ container: 'max-w-5xl' }}
  />


  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Pricing FAQs"
    subtitle="Choosing the right plan is important, and we're here to answer your questions. If you have queries about our pricing options, you're in the right place."
    columns={1}
    items={[
      {
        title: 'Got testimonials already?',
        description:
          'No problem! ReputeBee lets you import your existing testimonials, as well as from other sources like  ProductHunt, Twitter, YouTube, Capterra, TrustPilot, G2, Google and more.',
      },
      {
        title: 'How can you pay?',
        description:
          "We accept a variety of payment formats and currencies via credit card and PayPal to make it easy for you to join ReputeBee.\n However, Contact us if you need an alternative payment method.",
      },
      {
        title: 'Do you offer discounts?',
        description:
          'Sure do! We offer discounts for bootstrappers and non-profits on our subscription plans. Just send us an intro to your business to get the discount code.',
      },
      {
        title: 'What information collect when my users submit testimonials ?',
        description:
          'With ReputeBee, you can collect all the information you need to showcase your customer success stories. Apart from the testimonial itself, you can collect their name, headshot, email, title and company, social link. If you feel some information is missing, we can very well add it, please contact us.',
      },
      {
        title: 'Got multiple clients? Are you an Agent',
        description:
          'No problem! ReputeBee lets you manage testimonials on behalf of multiple clients with ease. Contact us for more information',
      },
      {
        title: 'Can I import testimonials I\'ve already collected?',
        description:'Yes! ReputeBee lets you import testimonials from other sources like  ProductHunt, Twitter, YouTube, Capterra, TrustPilot, G2, Google and more. Also we support csv import.',
      },
      {
        title: 'Are there any discounts for educational institutions and nonprofits?',
        description:'Yes. Contact us for more details ',
      },
      {
        title: 'What is the Wall of Love?',
        description:
          'Its a place to display all your selected testimonials - video, text or social proof like Twitter shoutouts. Check out our Wall of Love for our Testimonial product!',
      },
      {
        title: 'How do I embed the Wall of Love?',
        description:
          'Its easy - just few lines of HTML code! You can embed it in any no-code platform (Webflow, WordPress, etc.).  <a target="_blank" class="font-medium text-primary-600 underline" href="/embedding-reviews-into-no-code-platforms">Click here for HOWTO.</a>',
      },
      {
        title: 'Got more questions?',
        description:
          'No problem! Just send us a message via our contact us form we usually get back to you within a day.',
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    title="Collect More Testimonials with Less Work"
    subtitle="Transform happy customers into your most influential advocates. Collect, curate, and showcase testimonials seamlessly with ReputeBee."
    callToAction={{
      text: ' Get your Wall of Love Now!',
      href: '/',
    }}
  />
</Layout>
